body {
  background-color: whitesmoke;
  font-family: 'Arial', sans-serif;
}
h1 {
  color: black;
  text-align: center;
}

form {
  display: table;
  margin: auto;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  padding: 20px;
}

input {
  display: table-cell;
  padding: 10px;
}

span {
  display: table-cell;
}

.required {
    padding-left: 10px;
    color: red;
}
