<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/login.css}" rel="stylesheet"/>
    <link th:href="@{/account.css}" rel="stylesheet"/>
    <link th:href="@{/styling.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/login.js}"></script>
</head>
<body>
<header>
    <div class="nav">
        <ul>
            <a class="active">Home</a>
            <a href="/auctions-page">Auctions</a>
            <a href="/register-page">Register</a>
            <a href="/addItem">Create</a>
            <a href="#contact">Contact</a>
            <div id="user" class="dropdown" style="float:right; color: white"></div>
        </ul>
    </div>
</header>

<div class="content">
    <h1>Manage Account</h1>

    <h3>Update Account Info</h3>
    <form id="accountUpdateForm" action="/update-user-info" method="post">
        <p>
            <label for="username">Username: </label>
            <input id= "username" type="text" name="username"/> <br/>
        </p>

        <p>
            <label for="password">Password: </label>
            <input id= "password" type="text" name="password"/> <br/>
        </p>

        <p>
            <label for="originalPassword">Original Password: </label>
            <input id= "originalPassword" type="text" name="originalPassword"/> <br/>
        </p>
    </form>

    <button class="submit" form="accountUpdateForm" type="submit">Update Info</button>

    <h3>Add/Manage Payment Methods</h3>

    <form id="paymentMethodAddForm" action="/add-payment-method" method="post">
        <p>
            <label for="cardNumber">Card Number: </label>
            <input id= "cardNumber" type="text" name="cardNumber" required/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="expirationMonth">Expiration Month: </label>
            <input id= "expirationMonth" type="text" name="expirationMonth" required/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="expirationYear">Expiration Year: </label>
            <input id= "expirationYear" type="text" name="expirationYear" required/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="cvv">CVV: </label>
            <input id= "cvv" type="text" name="cvv" required/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="credit">Is This a credit card?</label>
            <select id="credit" name="credit">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <span class="required">*</span>
        </p>
    </form>

    <button class="submit" form="paymentMethodAddForm" type="submit">Add</button>
</div>

</body>