<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Old World Auction</title>
    <link th:href="@{/styling.css}" rel="stylesheet"/>
</head>
<body>
    <a href="/">Home</a>
    <h1>Add Auction Item</h1>
    <form id="itemAddForm" action="/add" method="post">
        <p>
            <label for="name">Item Name: </label>
            <input id= "name" type="text" name="name"/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description"/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="currentBid">Starting Bid: </label>
            <input id="currentBid" type="text" name="currentBid"/> <br/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="image">Picture (JPG, PNG, JPEG)</label>
            <input type="file" id="image" name="image">
            <span></span>
        </p>

        <p>
            <label for="color">Color: </label>
            <input id="color" type="text" name="color"/> <br/>
            <span></span>
        </p>

        <p>
            <label for="manufacturedYear">Manufactured Year: </label>
            <input id="manufacturedYear" type="text" name="manufacturedYear"/> <br/>
            <span></span>
        </p>

        <p>
            <label for="auctionStartTime">Auction Start Date/Time</label>
            <input id="auctionStartTime" type="datetime-local" name="auctionStartTime">
            <span class="required">*</span>
        </p>

        <p>
            <label for="auctionEndTime">Auction End Date/Time</label>
            <input id="auctionEndTime" type="datetime-local" name="auctionEndTime">
            <span class="required">*</span>
        </p>

    </form>
    <div style="text-align: center;">
        <button form="itemAddForm" type="submit">Add Item</button>
    </div>
</body>
</html>