<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Old World Auction</title>
    <link th:href="@{/styling.css}" rel="stylesheet"/>
    <link th:href="@{/common.css}" rel="stylesheet"/>
    <link th:href="@{/login.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/login.js}"></script>
    <script type="text/javascript" th:src="@{/userId.js}"></script>
    <script type="text/javascript" th:src="@{/addItem.js}"></script>
</head>
<body>
<header>
    <div class="nav">
        <ul>
            <a href="/">Home</a>
            <a href="/auctions-page">Auctions</a>
            <a href="/register-page">Register</a>
            <a class="active">Create</a>
            <a href="/contact">Contact</a>
            <div id="user" class="dropdown" style="float:right; color: white"></div>
        </ul>
    </div>
</header>
    <h1>Add Auction Item</h1>
    <form id="itemAddForm" action="/add" method="post" enctype="multipart/form-data">
        <input id="userId" type="hidden" name="sellerID"/>

        <p>
            <label for="name">Item Name: </label>
            <input id= "name" type="text" name="name" required/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="category">Category: </label>
            <select id="category" name="category">
                <option value="Electronics">Electronics</option>
                <option value="Furniture">Furniture</option>
                <option value="Clothing">Clothing</option>
            </select>
            <span class="required">*</span>
        </p>

        <p>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" required/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="currentBid">Starting Bid: </label>
            <input id="currentBid" type="text" name="currentBid" required/>
            <span class="required">*</span>
        </p>

        <p>
            <label for="image">Picture (JPG, PNG, JPEG)</label>
            <input type="file" id="image" name="image" required>
            <span class="required">*</span>
        </p>

        <p>
            <label for="auctionStartTime">Auction Start Date/Time</label>
            <input id="auctionStartTime" type="datetime-local" name="auctionStartTime" required>
            <span class="required">*</span>
        </p>

        <p>
            <label for="auctionEndTime">Auction End Date/Time</label>
            <input id="auctionEndTime" type="datetime-local" name="auctionEndTime" required>
            <span class="required">*</span>
        </p>

    </form>
    <div style="text-align: center;">
        <button class="submit" form="itemAddForm" type="submit">Add Item</button>
    </div>
</body>
</html>