<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Old World Auction</title>
    <link th:href="@{/styling.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Old World Auction</h1>
    <form action="add" method="post">
        <p>
            <label for="name">Name: </label>
            <input id= "name" type="text" name="name"/> <br/>
        </p>

        <p>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description"/> <br/>
        </p>

        <p>
            <label for="currentBid">Starting Bid: </label>
            <input id="currentBid" type="text" name="currentBid"/> <br/>
        </p>

        <p>
            <label for="color">Color: </label>
            <input id="color" type="text" name="color"/> <br/>
        </p>

        <p>
            <label for="manufacturedYear">Manufactured Year: </label>
            <input id="manufacturedYear" type="text" name="manufacturedYear"/> <br/>
        </p>

        <button type="submit">Submit!</button>
    </form>
</body>
</html>