<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Old World Auction</title>

    <link href="/common.css" rel="stylesheet"/>
    <link href="/login.css" rel="stylesheet"/>
    <link href="/auctionList.css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/AuctionList.js}"></script>

</head>
<body>
<header>
    <div class="nav">
        <ul class="headerNav">
            <a href="/">Home</a>
            <a class="active">Auctions</a>
            <a href="/register-page">Register</a>
            <a href="/addItem">Create</a>
            <a href="/contact">Contact</a>
            <div id="user" class="dropdown" style="float:right; color: white"></div>
        </ul>
    </div>
</header>

<section>
    <h1> Auction Items</h1>
    <div id="gallery"></div>
</section>
</body>
</html>

