<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old World Auction</title>
    <link href="/auctionList.css" rel="stylesheet"/>
    <link href="/common.css" rel="stylesheet"/>
    <link href="/login.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("/loggedUser")
                .then(response => response.json())
                .then(data => {
                    displayUser(data);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });

            fetch("/allItemsJson")
                .then(response => response.json())
                .then(data => {
                    console.log('Retrieved items:', data);
                    displayAuctionItems(data);
                })
                .catch(error => {
                    console.error('Error fetching items:', error);
                });
        });

        function displayUser(user){
            const userDiv = document.getElementById("user");
            userDiv.innerHTML = "";
            if(user.username !== "") {
                userDiv.innerHTML = `
                  <button class="dropbtn">Welcome, ${user.username}</button>
                  <div class="dropdown-content">
                    <a href="#">Manage Account</a>
                    <a href="#">Manage Items</a>
                    <a href="/logout">Log Out</a>
                  </div>
                `;
            } else {
                let loginButton = document.createElement("a");
                loginButton.setAttribute("href", "/login-page");
                loginButton.textContent = "Login";
                userDiv.appendChild(loginButton);
            }
        }

        function displayAuctionItems(items) {
            const auctionListDiv = document.getElementById("gallery");
            auctionListDiv.innerHTML = ''; // Clear previous content

            // Group items by category
            const groupedItems = groupItemsByCategory(items);

            // Iterate through each category and display items
            for (const category in groupedItems) {
                const categoryHeader = document.createElement("h2");
                categoryHeader.textContent = category;
                auctionListDiv.appendChild(categoryHeader);

                const categoryItems = groupedItems[category];
                const categoryItemsDiv = document.createElement("div");
                categoryItemsDiv.classList.add("category-items");

                categoryItems.forEach(item => {
                    const contentDiv = document.createElement("div");
                    contentDiv.classList.add("content");

                    if (item.image !== null) {
                        // Convert Base64-encoded image data to an actual image
                        const imageData = atob(item.image);
                        const imageDataUrl = `data:image/jpeg;base64,${imageData}`;

                        const imageElement = document.createElement("img");
                        imageElement.src = imageDataUrl;
                        contentDiv.appendChild(imageElement);
                    } else {
                        // Handle case where image data is null
                        const noImageElement = document.createElement("p");
                        noImageElement.textContent = "No image available";
                        contentDiv.appendChild(noImageElement);
                    }

                    contentDiv.innerHTML += `
                        <h3>${item.name}</h3>
                        <p>$${item.currentBid}</p>
                        <h6>${item.description}</h6>
                        <button class="buy-1" onclick="buyNow('${item.name}')">Buy Now</button>
                        <button class="save" onclick="saveItem('${item.name}')">Save</button>
                    `;

                    categoryItemsDiv.appendChild(contentDiv);
                });

                auctionListDiv.appendChild(categoryItemsDiv);
            }
        }

        function groupItemsByCategory(items) {
            const groupedItems = {};
            items.forEach(item => {
                if (!groupedItems[item.category]) {
                    groupedItems[item.category] = [];
                }
                groupedItems[item.category].push(item);
            });
            return groupedItems;
        }

        function buyNow(itemName) {
            const url = `/getItem?name=${encodeURIComponent(itemName)}`;
            window.location.href = url;
        }
    </script>
</head>
<body>
<header>
    <div class="nav">
        <ul class="headerNav">
            <a href="/">Home</a>
            <a class="active">Auctions</a>
            <a href="/register-page">Register</a>
            <a href="/addItem">Create</a>
            <a href="#contact">Contact</a>
            <div id="user" class="dropdown" style="float:right; color: white"></div>
        </ul>
    </div>
</header>
<section>
    <h1> Auction Items</h1>
    <div id="gallery"></div>
</section>
</body>
</html>
