<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Old World Auction</title>
    <link th:href="@{/styling.css}" rel="stylesheet"/>
    <link th:href="@{/common.css}" rel="stylesheet"/>
    <link th:href="@{/login.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/login.js}"></script>
</head>
<!--<div th:class="background-image"></div>-->
<!--<style>-->
<!--    .background-image {-->
<!--        background-image: url("/static/img/bg.png");-->
<!--        background-size: contain;-->
<!--        background-repeat: no-repeat;-->
<!--        text-align: center;-->
<!--        width: 200px;-->
<!--        height: 200px;-->
<!--    }-->
<!--</style>-->
<header>
    <div class="nav">
        <ul>
            <a href="/">Home</a>
            <a href="/auctions-page">Auctions</a>
            <a href="/register-page">Register</a>
            <a href="/create-page">Create</a>
            <a class="/active">Contact</a>
            <div id="user" class="dropdown" style="float:right; color: white"></div>
        </ul>
    </div>
</header>
<body>
<div style="text-align: center;">
    <h1> MEET THE TEAM </h1>

<div style="padding: 15px;">
    <img th:src="@{Brock.jpg}" alt="Headshot of Brock Jones"  width="200" height="150"/>
    <br>
    Brock Jones: Full stack Developer
</div>

<div style="padding: 15px;">
    <img th:src="@{Akram.jpg}" alt="Headshot of Akram Moustafa"  width="200" height="150"/>
    <br>
    Akram Moustafa: Frontend and backend developer
</div>

<div style="padding: 15px;">
    <img th:src="@{Simdi.JPG}" alt="Headshot of Chisimdi Agomoh"  width="200" height="150"/>
    <br>
    Chisimdi Agomoh: Backend and database developer
</div>

<div style="padding: 15px;">
    <img th:src="@{Jovane.jpg}" alt="Headshot of Jovane Samuel"  width="200" height="150"/>
    <br>
    Jovane Samuels: Frontend developer
</div>

<div style="padding: 15px;">
    <img th:src="@{Samuel.jpg}" alt="Headshot of Samuel Tabaczynski"  width="170" height="150"/>
    <br>
    Samuel Tabaczynski: Frontend developer
</div>

<div style="padding: 15px;">
    <img th:src="@{Marcus.JPG}" alt="Headshot of Marcus Williams"  width="200" height="150"/>
    <br>
    Marcus Williams: Frontend developer
</div>

<div>
    <a href="https://moust1am.wixsite.com/old-world-auction">Project Website</a>
</div>

<pre>


    Contact us at oldworldhelp@outlook.com
</pre>
</div>

</body>
</html>