<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<link th:href="@{/common.css}" rel="stylesheet"/>
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
    }

    #item-details {
      padding-left: 40%;
    }

    h1 {
      text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
</head>
<body>
<header>
    <div class="nav">
        <ul>
            <a href="/">Home</a>
            <a href="/auctions-page">Auctions</a>
            <a href="/register-page">Register</a>
            <a href="/login-page">Login</a>
            <a href="/addItem">Create</a>
            <a href="#contact">Contact</a>
        </ul>
    </div>
</header>
<section>
    <h1>Item Details</h1>
    <div id="item-details">
        <h3 th:text="'Name: ' + ${item.name}"></h3>
        <h3 th:text="'Description: ' + ${item.description}"></h3>
        <h3 th:text="'Current Bid: $' + ${item.currentBid}"></h3>
        <h3 th:text="'Color: ' + ${item.color}"></h3>
        <h3 th:text="'Auction Start Time: ' + ${item.auctionStartTime}"></h3>
        <h3 th:text="'Auction End Time: ' + ${item.auctionEndTime}"></h3>
        <h3 th:if="${item.auctionComplete}">Auction Status: Complete</h3>
        <h3 th:unaless="${item.auctionComplete}">Auction Status: Incomplete</h3>
        <h3 th:text="'Seller: ' + ${item.sellerID != null ? item.sellerID : 'N/A'}"></h3>
        <div id="auctionStartTimer"></div>
        <div id="auctionEndTimer"></div>

        <form id="bidForm" th:action="@{'/updateBid/' + ${item.name} + '/' + ${userId} + '/' + ${item.currentBid}}" method="post">
            <input type="hidden" name="name" th:value="${item.name}" />
            <input type="hidden" name="bidAmount" id="bidAmountInput" th:value="${item.currentBid}" />
            <input type="hidden" name="userId" th:value="${userId}" />

            <!-- Display the URL -->
            <label>URL: <span th:text="@{'/updateBid/' + ${item.name} + '/' + ${userId} + '/' + ${item.currentBid}}"></span></label><br/>

            <label for="newBidAmountInput">Enter Bid Amount:</label>
            <input type="number" name="newBidAmount" id="newBidAmountInput" required />
            <button type="submit">Place Bid</button>
        </form>


        <p id="demo"></p>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var itemName = /*[[${item.name}]]*/ '';
        var auctionEndTimeString = /*[[${item.auctionEndTime}]]*/ '';
        /*]]>*/
    </script>


    <script>
        $(document).ready(function() {

            $.ajax({
                url: '/loggedUserID',
                type: 'GET',
                success: function(response) {
                    console.log(response);
                    if (response.userId !== '') {

                        $('input[name="userId"]').val(response.userId);
                        console.log(response.userId);
                    } else {
                        alert('You need to log in or register to place a bid.');
                    }
                },
                error: function() {
                    console.error('Error checking logged-in status.');
                }
            });


            $('#bidForm').submit(function(e) {

                if ($('input[name="userId"]').val() === '') {
                    e.preventDefault(); // Prevent form submission
                    alert('You need to log in or register to place a bid.');
                } else {

                    var userId = $('input[name="userId"]').val();
                    var actionUrl = '/updateBid/' + itemName + '/' + userId + '/' + $('input[name="bidAmount"]').val();
                    $('#bidForm').attr('action', actionUrl);
                }
            });
        });
    </script>


    <script>
        $(document).ready(function() {
            var auctionEndTime = new Date(auctionEndTimeString).getTime();

            var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = auctionEndTime - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("auctionEndTimer").innerHTML = "Time Remaining to make a bid: " + days + "d " + hours + "h " + minutes + "m " + seconds + "s";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("auctionEndTimer").innerHTML = "Auction Ended";
                }
            }, 1000);
        });
    </script>

    </div>
</section>
</body>
</html>
